# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Visual Studio

*.vspscc
*.vssscc
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]64/
[Aa][Rr][Mm]/
bld/
[Bb]in/
[Oo]bj/
